* {
    font-family: Barlow, Arial, Helvetica, sans-serif;
}

/* ====== HEADER ===== */

header {
    height: 52px;
    background-color: white;
    max-width: 100%;
    /* min-width: 500px; */
}

header div ul li {
    display: inline;
    float: left;
    color: black;     
}

header div ul li a:hover{
    color: darkgray;
}

header div ul {
    padding: 0;
    list-style-type: none;
}

header nav {
    height: 52px;
    float: right;
}

header nav li {
    display: inline;
}

header nav ul li a:hover {
    color: darkgray;
    text-decoration: underline;
}

header div ul li a {
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 2em;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 1.25em;
}

/* ===== SECTION 1 - INTRO ===== */

section#intro {
    background-image: url("../images/nyc-clay-leconey-unsplash.jpg");
    background-position: 50% center;
    background-repeat: no-repeat;
    background-size: 100%; 
    max-width: 100%;
    height: 800px;
}

section#intro div {
    float: right;
}

section#intro h1{
    color: white;
    font-size: 4em;
    margin: 7em 2em 0 0;
}

section#intro div p {
    color: white;
    background-color: rgba(130, 135, 143, 0.35);
    height: 30px;
    font-size: 1.25em;
}

section#intro div a {
    color: white;
    font-size: 3em;
    text-decoration: none;
    width: 48px;
    text-align: center;
    padding: 2%;
}

section#intro div a:hover {
    border-radius: 50%;
    border: solid 2px white;
}

/* ===== SECTION 2 - ABOUT ME ===== */

section#aboutMe {
    background-image: url("../images/muskroom-jU5tl_ii-oU-unsplash.jpg");
    background-size: 100%;
    width: 100%;
    height: 700px;
}

section#aboutMe div {
    width: 350px;
    height: 700px;
    background-color: rgba(155, 190, 232, 0.75);
    float: left;
    margin-left: 50px;
    padding: 0 25px;
}

section#aboutMe div h2 {
    margin: 3.5em 0 0 0;
    color: white;
    font-size: 3.5em;
}

section#aboutMe div p {
    text-align: justify;
    font-size: 1.1em;
    line-height: 30px;
}

section#aboutMe div p a {
    text-decoration: none;
    color: black;
}

section#aboutMe div p span {
    padding-left: 5px;
}

section#aboutMe div a.fa-solid {
    margin: 0 40%;
    color: white;
    text-align: center;
    font-size: 3em;
    text-decoration: none;
    border-radius: 50px;
    border: 2px solid white;
    padding: 2%;
    width: 48px;
    height: 48px;
}

section#aboutMe div a.fa-solid:hover {
    color: rgb(120, 120, 120);
    border-color:rgb(120,120,120);
}

section#aboutMe div p span:hover {
    font-size: 1.5em;
    color: rgb(255,080,034);
}
/* ===== SECTION 3 - MY PROJECTS ===== */

section#work {
    background-image: url("../images/projects-2h-media-unsplash.jpg");
    background-size: 100%;
    width: 100%;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

section#work div h2 {
    font-size: 3em;
    color: rgb(115, 108, 98);
    text-align: center;
    margin: 0;
    padding-top: 2%;
}

section#work div.container {
    width: 90%;
    height: 100%;
    padding: 0 5%;
}

section#work div article p {
    width: 33%;
    float: left;
    text-align: center;
    color: white;
    padding: 25% 0;
}

section#work div article#Project1 p{
    background-image: url("../images/fulls/02.jpg");
}

section#work div article#Project2 p{
    background-image: url("../images/fulls/03.jpg");
}

section#work div article#Project3 p{
    background-image: url("../images/fulls/04.jpg");
}

section#work div a.fa-solid {
    margin: 5% 45%;
    color: rgb(115, 108, 98);
    text-align: center;
    font-size: 3em;
    text-decoration: none;
    border-radius: 50px;
    border: 2px solid rgb(115, 108, 98);;
    padding: 1%;
    width: 48px;
    height: 48px;
}

section#work div a.fa-solid:hover {
    color: black;
    border-color:black;
    padding: 1.1%;
}

/* ===== SECTION 4 - BOOKS ===== */

section#books {
    background-image: url("../images/shelf-bundo-kim-unsplash.jpg");
    background-size: 100%;
    width: 100%;
}

section#books div h2 {
    font-size: 3em;
    color: white;
    text-align: center;
    margin: 0;
    padding-top: 2%;
}

section#books div.container {
    /* float: left; */
    width: 85%;
    height: 100%;
    padding: 0 7.5%;
}

section#books div div img {
    float: left;
    width: 27.3333%;
    height: 30%;
    padding: 3%;
}

section#books div h3 {
    font-size: 1.5em;
    color: white;
}

section#books div a.fa-solid {
    margin: 5% 45%;
    color: white;
    text-align: center;
    font-size: 3em;
    text-decoration: none;
    border-radius: 50px;
    border: 2px solid white;
    padding: 1%;
    width: 48px;
    height: 48px;
}

section#books div a.fa-solid:hover {
    color: gray;
    border-color: gray;
}

/* ===== SECTION 5 - CONTACT ===== */

section#contact {
    height: 550px;
    width: 100%;
    background-color:rgb(230,230,230)
}

section#contact h2 {
    font-size: 3em;
    color: black;
    text-align: center;
    margin: 0;
    padding: 2% 0;
}

section#contact form input {
    width: 50%;
    height: 30px;
    margin: 10px 25%;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
}

section#contact form textarea {
    width: 50%;
    height: 200px;
    margin: 10px 25%;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
}

section#contact button {
    margin: 10px 35%;
    width: 30%;
    appearance: none;
    -webkit-appearance: none;
    padding: 10px;
    border: none;
    background-color:rgba(155, 190, 232, 0.75);
    color: white;
    border-radius: 5px;
}

section#contact button:hover {
    background-color: rgba(23, 19, 214, 1)
}

/* ===== FOOTER ===== */

footer {
    width: 100%;
    height: 50px;
    background-color: rgb(114, 116, 117);
    text-align: right;
    color: white;
}

footer p {
    margin: 0;
    padding: 1.5%;
}
footer p a {
    color: white;
    padding: 0 10px;
    border-right: solid 1px white;
}

/* ==== Media Query ===== */

@media screen and (max-width: 550px) {
    header nav {
        display: none;
    }

    header div#socialMedia {
        text-align: center;
    }
    
    section#intro {
        height: 650px;
    }

    section#intro h1{
        font-size: 3em;
        margin: 7em 2em 0 0;
    }
    
    section#intro div {
        padding-left: 15%;
    }
    section#aboutMe div {
        width: 70%;
        margin: 0 10%;
        padding: 0 5%;
    }
}

@media screen and (max-width: 700px) {
    section#books, section#work {
        height: auto;
    }
    
    section#books div div img {
        width: 40%;
        /* height: 350px; */
        float: none;
        margin: 0 27%;
    }

    section#books div.container {
        float: none;
        width: 85%
    }
    
    section#work div article p {
        width: 100%;
        height: 150px;
        float: none;
        text-align: center;
        color: white;
        padding-top: 20%;
    }

    section#work div.container {
        float: none;
        width: 80%;
        padding: 0 10%;
    }
}


@media screen and (max-width: 1350px) {
    section#intro, section#aboutMe  {
        background-size: 1350px;
    }
}
